@{
    Layout = "~/Views/Layout/_Layout.cshtml";
}
@model Entidades.User[]


<br />

<div class="panel panel-default">
    <div class="panel-heading">
       Users
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Password</th>
                        <th>Email</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr class="odd gradeX">
                            <td> <a href="/User/Edit/@user.Id">@user.Id</a> </td>
                            <td> @user.Name </td>
                            <td> @user.Password </td>
                            <td> @user.Email </td>
                            <td> <a href="/User/Delete/@user.Id"><i class="fa fa-warning fa-fw"></i></a> </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
    </div>
    <!-- /.panel-body -->
</div>